* {
    box-sizing: border-box;
}

.center {
    background-color: saddlebrown;
}

.title{
    width:800px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

.under-title {
    /* width:500px; */
    margin: 0 auto;
    text-align: center;
    padding:  30px;
    font-weight: bold;

}

.city-search {
    display: flex;
}

#current-weather-container {
    display: flex;
    justify-content: center;
}

#weather-forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchbox {
    display: inline-block;
    
}


.card {
    background-color: red;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15%;
}

.recent-btn {
    margin: 10px;
}

 /* .card-body {
    width: min-content;
} */

/* .card-body p {
    margin: 0;
    width: 50px;
} */


/* center current weather, add days, add recent search, and show current city search after showing weather for: */






/* .current-weather h2 {
    width: 50%;
    margin-right: 0;
}
.current-weather section {
    width: 50%;
    margin: 0;
}

.current-weather section div {
    margin: 0px;
} */



